@import "/css/common.css";

.section .admin-navigation {
	width: 400px;
	margin: 0 auto;
	border-radius: 5px;
	background: white;
	padding: 10px;
}

.section .admin-navigation-button {
	width: 100%;
	margin-bottom: 20px;
}

.section .admin-title {
	text-align: center;
}